name = "maildiary-worker"
main = "apps/worker/src/index.ts"
compatibility_date = "2024-05-01"
workers_dev = false

[vars]
APP_BASE_URL = "https://diary.liuallen.com"
API_BASE_URL = "https://api.diary.liuallen.com"
COOKIE_DOMAIN = ".liuallen.com"
MAIL_FROM = "reminder@diary.liuallen.com"
MY_DAILY_FROM_EMAIL = "hello@liuallen.com"
MY_DAILY_REPLY_DOMAIN = "liuallen.com"
MY_DAILY_APP_BASE_URL = "https://liuallen.com"

[[d1_databases]]
binding = "DB"
database_name = "daily"
database_id = "caf5aa30-7ce2-4bfa-85c7-19e700995933"

[[r2_buckets]]
binding = "R2_BUCKET"
bucket_name = "maildiary-attachments"

[[kv_namespaces]]
binding = "KV_SESSIONS"
id = "f4374fccf2d94ddba42bbedd8a3c63a0"

[triggers]
crons = ["*/5 * * * *"]

[[routes]]
pattern = "api.diary.liuallen.com"
custom_domain = true

[[routes]]
pattern = "api.liuallen.com/my-daily/*"
zone_name = "liuallen.com"

[email]
allowed_senders = ["reminder@diary.liuallen.com", "reply@diary.liuallen.com"]
